<up-modal size="medium">                     <!-- container with attributes -->
  <up-modal-backdrop></up-modal-backdrop>    <!-- semi-transparent background -->
  <up-modal-viewport>                        <!-- scroll bar -->
    <up-modal-box>                           <!-- white box with padding -->
      <up-modal-content>
        <p>Wownero Address: <span id="wowneroAddress">?</span></p>
      </up-modal-content>                    <!-- content parent (unstyled) -->
      <up-modal-dismiss>×</up-modal-dismiss> <!-- dismiss icon -->
    </up-modal-box>
  </up-modal-viewport>
</up-modal>
