<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item ml-2" href="{{ url_for('meme.index') }}" up-preload up-follow=".container">
      <img src="/static/img/logo.png" style="max-height:50px;">
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="{{ url_for('meme.index') }}" up-preload up-follow=".container">
        Home
      </a>

      <a class="navbar-item" href="{{ url_for('meta.about') }}" up-preload up-follow=".container">
        About
      </a>
      <div class="navbar-item">
        <div class="buttons">
          {% if current_user.is_authenticated %}
            <a class="button is-danger" href="{{ url_for('meta.disconnect') }}">Disconnect</a>
            {% if current_user.moderator %}
              <a class="button is-warning" href="{{ url_for('meme.mod') }}" up-preload up-follow=".container">Mod</a>
            {% endif %}
            <a class="button is-primary" href="{{ url_for('meme.publish') }}" up-follow=".container">New Meme</a>
          {% else %}
            <a class="button is-primary" id="metamaskConnect" onclick="onboardMetaMask();">Connect</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
