<script src="/static/js/vendor/metamask-onboarding-1.0.1.bundle.js"></script>
<script src="/static/js/vendor/noty-3.2.0.js"></script>
<script src="/static/js/main.js"></script>
{% include 'includes/web3.html' %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <script type="text/javascript">
    {% for category, message in messages %}
      {% if category == None %}{% set category = 'info' %}{% endif %}
      new Noty({
        type: '{{ category }}',
        theme: 'relax',
        layout: 'topCenter',
        text: '{{ message }}',
        timeout: 4500
      }).show();
    {% endfor %}
  </script>
  {% endif %}
{% endwith %}
