# Production env - delete this line and unused config
SECRET_KEY=vrBWMR2$nCdPuZ27
DATA_FOLDER=/opt/tubbymemes/data
SERVER_NAME=myservername.com

# Test env - delete this line and unused config
SECRET_KEY=vrBWMR2$nCdPuZ27
DATA_FOLDER=/path/to/git/repo + /data
