<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  <section class="section">
    <div class="container">
      {% include 'includes/navbar.html' %}

        <div class="columns">
          <div class="column screen" style="padding-top:1em;">
            <p>
              Welcome. </br>
            </br>
              This service is a continuation of <a href="https://suchwow.xyz">SuchWow</a> for the <a href="https://wownero.org">Wownero</a> cryptocurrency project.
              It has been revamped to use <a href="https://ipfs.io">Interplanetary Filesystem</a>, server federation / content sharing,  and optionally <a href="https://www.avax.network/">Avalanche network</a> via a smart contract with some useful features (if you're into memes). It's a decentralized application (dApp); it's preferred you run it locally and bootstrap the services on your own machine. Here's the source code and instructions to run: <a href="https://github.com/lalanza808/suchwowx/" target="_blank">SuchWowX</a>
            </p>
          </br>
            <p>
              Up until now there has been a small group of people who were responsible for reviewing and approving the 4600+ memes submitted to the prior platform.
              Wownero has become a meme powerhouse via SuchWow, but it's a highly centralized, aging, and fragile service.
            </p>
          </br>
            <p>
              This iteration of SuchWow will strive to provide decentralized and leaderless operations.
              You can run it anywhere and see all the content, you won't need my server (but you can use it).
              You should run your own.
              You can control which content you see, store, and share (via IPFS pins).
              I'll deploy an immutable smart contract with some tipping and storage features,
              everyone can make their own clients (you can use mine, it's Flask/Python),
              we make some documentation for you fucks to read (lol),
              then memers can run it and go to the races; the only limit is their own hard drives.
            </p>
          </br>
            <div class="columns">
              <div class="column">
                <a class="button is-info" onclick="addWOWX()">Add WOWX Tokens</a>
              </div>
              <div class="column">
                <a class="button is-info" onclick="addAvalancheNetwork()">Add Avalanche Network</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  {% include 'includes/footer.html' %}
  </body>
</html>
