<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SuchWowX!</title>
    <script src="https://unpkg.com/unpoly@2.5.0/unpoly.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/unpoly@2.5.0/unpoly.min.css">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/bulma.css.map">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        SuchWowX. <br/>

      </h1>
      <p class="subtitle">
        Memes. <strong>Interplanetary</strong>!
      </p>
      <a class="button is-primary" href="{{ url_for('meta.new') }}" up-target=".container">New Meme</a>

      {% if memes %}
        <div id="memes">
        {% for meme in memes %}
          <div class="meme" style="padding-top:1em;">
            <p>Meme: {{ meme }}</p>
            <p>Upload path: {{ meme.upload_path }}</p>
            <p>Meta IPFS: {{ meme.meta_ipfs_hash }}</p>
            <p>Meme IPFS: {{ meme.meme_ipfs_hash }}</p>
            <p>Title: {{ meme.title }}</p>
            <p>Description: {{ meme.description }}</p>
            <p>Creator handle: {{ meme.creator_handle }}</p>
          </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </section>
  </body>
</html>
