<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  <section class="section">
    <div class="container">
      {% include 'includes/navbar.html' %}

      {% if get_flashed_messages(with_categories=true) %}
        <p>
          </br>
          You can run your own local IPFS instance and maintain metadata and artwork,
          </br>
          try installing the software and running the following:
        </p>
        <code>$ ipfs daemon</code>
      </br></br>
      {% endif %}

      {% if memes %}
        {% for _meme in memes | batch(4) %}
        <div class="columns">

          {% for meme in _meme %}
          <div class="column" style="padding-top:1em;">
            <a href="{{ url_for('meta.meme', meme_id=meme.id) }}" up-preload up-follow=".container">
            {% if meme.upload_path.endswith('mp4') %}
              <video style="max-height: 60vh!important;max-width:80px;" {% if not request.MOBILE %}autoplay{% else %}controls{% endif %} muted loop>
                <source src="{{ url_for('meta.uploaded_file', filename=meme.upload_path) }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            {% else %}
              <img src="{{ url_for('meta.uploaded_file', filename=meme.upload_path) }}" width="200px" class="img-fluid" style="" />
            {% endif %}
            </a>
          </div>

          {% endfor %}
        </div>
        {% endfor %}
      {% endif %}

    </div>
  </section>
  {% include 'includes/footer.html' %}
  </body>
</html>
