.screen {
  padding-bottom: 1em;
  max-width: 500px;
  margin: 0 auto;
}

.card {
  margin: 1em;
  padding: 1em;
  width: 300px;
  border-radius: 6px;
}

.image {
  text-align: center;
}

.image img, .image video {
  border-radius: 6px;
}

.img-fluid {
  max-height: 200px;
  object-fit: cover;
}

.wrap {
  word-wrap: break-word;
}

.mintedAVAX {
  background-color: rgba(242,37,52,.2);
  border: 2px solid rgba(243,37,52,1);
}
