<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  {% include 'includes/navbar.html' %}
  <section class="section">
    <div class="container">

        <div class="columns">
          <div class="column screen" style="padding-top:1em;">
            <p>
              This site is dedicated to all the fat cats out there who's teachers told em they'd never amount to nothin, and for all my cats caught up in the struggle. It's all good tubby, tubby....
            </p>
          </br>
            <p>
              We post <a href="https://tubbycats.xyz" target="_blank">Tubby</a> memes around here bruv, get with the program.
            </p>
          </br>
            <p>
              Post dank memes, get dank tips. <a href="https://youtu.be/zUXow3d3-b0?t=61" target="_blank">That's it and that's all, mang.</a>
            </p>
          </div>
        </div>
    </div>
  </section>
  {% include 'includes/footer.html' %}
  </body>
</html>
