<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  {% include 'includes/navbar.html' %}
  <section class="section">
    <div class="container">

      {% if request.args.get('ipfs_error') %}
      <div class="screen">
        <p>
          You can run your own local IPFS instance and maintain metadata and artwork,
          try installing the software and running the following:
        </p>
        <code>$ ipfs daemon</code>
      </div>
      {% endif %}

      {% if memes %}
        {% for _meme in memes | batch(4) %}
        <div class="columns">
          {% for meme in _meme %}
          {% include 'includes/meme_card.html' %}
          {% endfor %}
        </div>
        {% endfor %}
      {% else %}
        <p class="subtitle">No memes approved yet brah!</p>
      {% endif %}

    </div>
  </section>
  {% include 'includes/footer.html' %}
  </body>
</html>
