
<!DOCTYPE html>
<html>
  {% include 'includes/head.html' %}
  <body>
  {% include 'includes/navbar.html' %}
  <section class="section">
    <div class="container">

      {% if meme %}
        {% if meme.meta_ipfs_hash %}
          {% set meta_url = config.IPFS_SERVER + "/ipfs/" + meme.meta_ipfs_hash %}
          {% set meme_url = config.IPFS_SERVER + "/ipfs/" + meme.meme_ipfs_hash %}
        {% else %}
          {% set meta_url = "" %}
          {% set meme_url = url_for('meta.uploaded_file', filename=meme.file_name, _external=True) %}
        {% endif %}

        <div id="screen">
          <div class="screen">
            {% if meme.file_name %}
            {% if meme.file_name.endswith('mp4') %}
              <video style="max-height: 60vh!important;max-width:100%;" {% if not request.MOBILE %}autoplay{% else %}controls{% endif %} muted loop>
                <source src="{{ meme_url }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            {% else %}
              <img src="{{ meme_url }}" id="memeImage" />
            {% endif %}
            {% endif %}
            <br/>
            <h1 class="title"><strong>{{ meme.title }}</strong></h1>
            <h1 class="subtitle"><strong>{{ meme.description }}</strong></h1>
            <a class="button is-light" href="https://twitter.com/intent/tweet?text=yooo, dope ass tubby meme alert: {{ request.url }}">
              <img src="/static/img/twitter.svg" width=25>  Share dis, nephew
            </a>
            <hr>

            <p><strong>Poster Address: </strong></br><span style="word-wrap: break-word"><a href="{{ meme.user.public_address | show_etherscan }}">{{ meme.user.public_address }}</a></span></p>
            {% if meme.meta_ipfs_hash %}
            <p><strong>Metadata IPFS:</strong></br><a href="{{ meta_url }}" target=_self>{{ meme.meta_ipfs_hash }}</a></p>
            {% endif %}
            {% if meme.meme_ipfs_hash %}
            <p><strong>Meme IPFS:</strong></br><a href="{{ meme_url }}" target=_self>{{ meme.meme_ipfs_hash }}</a></p>
            {% endif %}

            {% if not meme.approved %}
            <br/>
            <div class="columns">
              <div class="column">
                <a class="button is-success is-12 column" href="{{ url_for('meme.approve', meme_id=meme.id, action='approve') }}">Approve</a>
              </div>
              <div class="column">
                <a class="button is-danger is-12 column" href="{{ url_for('meme.approve', meme_id=meme.id, action='deny') }}">Deny</a>
              </div>
            </div>
            {% else %}
            <br/>
            <div id="tipButtons" class="columns">
              <div class="column is-one-quarter">
                <input class="input" type="number" step=".001" value="0.002" id="tipAmount">
              </div>
              <div class="column">
                <a class="button is-info is-12" id="tipButton" style="width:100%;">Tip this poster</a>
              </div>
            </div>
            {% endif %}

            </div>
        </div>
      {% endif %}

    </div>
  </section>
  {% include 'includes/footer.html' %}
  {% if meme.approved %}
  <script src="/static/js/vendor/web3-1.3.6.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', async () => {
      const w3 = new Web3(Web3.givenProvider);
      document.getElementById('tipButton').onclick = async () => {
        document.getElementById('tipButton').classList.add('is-loading');
        const walletAddress = await getMetamaskAccount();
        const tipAmount = document.getElementById('tipAmount').value;
        const tipAmountWei = w3.utils.toWei(tipAmount);
        const tipAmountHex = Number(tipAmountWei).toString(16);
        try {
          notif(`Tipping ${tipAmount} ETH to poster {{ meme.user.public_address | shorten_address }} for meme {{ meme.id }}.`, 'info');
          await ethereum.request({
            method: 'eth_sendTransaction',
            params: [
              {
                from: walletAddress,
                to: "{{ meme.user.public_address }}",
                value: tipAmountHex
              },
            ],
          })
            .then((txHash) => {
              console.log(txHash);
            })
          window.location.href = "";
        } catch(e) {
          notif(e.message, 'warning');
          document.getElementById('tipButton').classList.remove('is-loading');
        }
      }
    })
  </script>
  {% endif %}
  </body>
</html>
